body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Source Sans Pro",sans-serif;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* NAVBAR */
header{
  transition: height .2s linear,padding-top .2s linear;
  background-color: #fff;
}
@media only screen and (min-width: 992px) {
  .navbar-header{
    height: 90px;
    padding-top: 30px;
  }
}
.navbar-header{
  padding-bottom: 0;
}
.navbar-brand{
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-right: 0;
  /* order: 1; */
}
@media (min-width : 992px){
  .navbar-brand{
    width: 240px;
    padding: 0 0 0 20px;
    margin-top: -3px;
  }
}
@media (min-width : 1140px){
  .navbar-brand{
    padding-left: 0px;
  }
}
.navbar-right{
  padding: 0 15px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* order: 2; */
}
@media (min-width: 992px){
  .navbar-right{
    order: 3;
    padding: 0 20px 0 0;
  }
}
@media (min-width: 576px){
  .navbar-right{
    padding-right:20px;
  }
}
@media (min-width: 1140px){
  .navbar-right{
  padding-right: 0;
  }
}
.btn-uppercase{
  text-transform: uppercase;
  letter-spacing: 2px;;
}
.btn-login{
  padding: 9px 25px 9px 20px;
  color: #111236;
  margin-left: 20px;
  font-weight: 600; 
  position: relative;
  right:-3px; 
  font-size: 1rem;
}
.btn-login::before{
  content : "";
  position: absolute;
  left    : 0;
  height  : 50%;
  width   : 1px;  
  border-left :1px solid #b2b2bf;
}
.btn-login:hover{
  color: #25bcb5;
}

.top-link{
  padding: 9px 0 9px 0 ;
  display: inline-block;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #111236;
}
.top-link:hover{
  color: #23a6a0;
}

header.scrolled{
  padding-top: 0;
  border-bottom: 1px solid rgba(72,94,144,.16);
}
@media screen and (min-width: 768px){
  .scrolled{
    height: 60px;
  }
}
.locale-selector{
  width: 26px;
  margin-left: 10px;
  position: relative;
}
.locale-selector ul{
  padding-left: 0;
  padding-top: 11px;
  list-style: none;
  /* display: none; */
}
.loc-switcher{
    position: absolute;
    top: 30px;
    left: -98px;
    background-color: #fff;
    border: 1px solid #000;
    z-index: 10000;
}
.loc-switcher-item{
  cursor: pointer;
  display: flex;
  min-width: 200px;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Source Sans Pro",sans-serif;
}
/* practic mai jos ca sa obtii sageata aia ai fct un patrat rotit cu 45 de grade */
.loc-switcher-special{ 
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  position: absolute;
  top: -10px;
  left: 100px;
  background-color: #fff;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.round-icon{
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

/* ABOUT US */
.btn-green {
  background-color: #25bcb5;
  border-color: #25bcb5;
  color: #fff;
  display: inline-flex; 
  justify-content: center;
  align-content: center; 
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  display: inline-flex; 
  justify-content: center;
  align-content: center; 
}
.btn-small{
  padding: 9px 14px;
  font-size: 1rem;
} 

.btn-green:hover {
  background-color: #23a6a0;
  border-color: #23a6a0;
}

/* FOOTER */
footer {
  border-top: 1px solid #f1f2f8;
}
.footer-links a{
  margin: 0 10px;
  color: #111236;
}
a{
  text-decoration: none;
}
.social-link {
  color: #2c3e50;
  margin: 0 10px;
}
.copyright{
  background: #f9f9f9;
  font-size: .75rem;
  color: #999;
  padding: 4px 0;
}
.select-language{
  width: 258px;
}
/* LOGIN */
section{
  padding: 60px 0;
}
.content-auth{
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 540px) {
  .content-auth{
    flex-grow: 0;
    flex-basis: auto;
  }
}
.fix-content {
  display: flex;
  width: 100%;
  flex: 1;
  height: 100%;
}
.fix-content>div:first-child{
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media (min-width: 540px){
.fix-content>div:first-child {
  padding-top: 90px;
  }
}
.fix-content>div:first-child>*{
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 540px){
  .fix-content>div:first-child>* {
    flex-grow: 0;
    flex-basis: auto;
  }
}
.media{
  display: flex;
  align-items: flex-start;
}
.form-wrapper {
  max-width: 400px;
  margin-bottom: 60px;
}
.div-wrapper{
  text-align:center;
}
.div-wrapper h2{
    font-weight: 600;
    font-size: 1.6rem;
}
.form-group{
  margin-bottom: 1rem;
}
.btn{
  padding: 10px 18px;
  font-size: 1.1rem;
}
.btn-block{
  display: block;
  width: 100%;
}
a{
  color: #2c3e50;
}
a:hover{
  text-decoration: none;
  color: #25bcb5;
}
/* ORDER CARD */
#top{
  padding-top: 0;
}
.fix-content>div:first-child>*{
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 540px){
.fix-content>div:first-child>*{
    flex-grow: 0;
    flex-basis: auto;
  }
}
.order-card-cont{
  padding: 80px 0 50px;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.customizer-cont{
  padding-bottom: 0;
  overflow: hidden;
}
.triggers{
  position: relative;
  z-index: 9;
}
.card-type{
  flex: 0 0 25%!important;
  max-width: 25%!important;
}
.trigger{
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 8px;
  cursor: pointer;
  font-weight: 400;
  opacity: .5;
}
.trigger.active{
  opacity: 1;
  border-bottom: 2px solid #25bcb5;
}
.separator{
  height: 100%;
  margin: 0 20px;
}
.main-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.menu{
  padding-right: 15px;
  padding-left: 15px;
}
.customizer-actions{
  position: relative;
  z-index: 9;
  margin-bottom: 10px;
}
.material-color{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 5px;
  border: 1px solid #2c3e50;
}
.material-color.selected{
  border: 2px solid #00a698;
}
.form-group.animated{
  position: relative;
  margin-bottom: 1.2rem;
}
.form-group.animated label{
  background-color: #141e1e;
  position: absolute;
  padding: 0 4px;
  left: 8px;
  top: 7px;
  color: #8f90a0;
  z-index: 1;
  transition: transform .15s ease-out,font-size .15s ease-out
}
label.focused{
  transform: translateY(-90%);
  font-size: .75em;;
}
.form-group.animated .form-control{
  background-color: transparent;
  position: relative;
  width: 100%;
  outline: 0;
  border: 1px solid #cdcdd7;
  box-sizing: border-box;
  border-radius: 4px;
  transition: box-shadow .15s ease-out;
  color: #fff;
}
.name-buttons{
  display: flex;
  align-items: center;
}
.name-button{
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  font-size: 30px;
  padding: 0;
  margin-right: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-list-item{
  cursor: pointer;
  margin: 10px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-list-text[data-v-11d3587a] {
  font-weight: 700;
  color: #000;
}
.swatches{
  position: relative;
  display: inline-block;
  outline: none;
}
.price{
  color: #fff;
  font-size: 1.875rem;
  font-weight: 600;
}
.price .currency{
  font-weight: 300;
  font-size: 20px;
}
.color-swatcher-container{
  position: absolute;
  display: block;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.2);
  z-index: 50;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  transition: transform 1s ease-in .05s !important;
}
.show-side{
  transform:rotateX(85deg) !important;
}
/* .flipped{
  transform: rotateY(180deg) !important;
} */
.swiper-slide-active.flipped{
  transform: rotateY(180deg) !important;
}
.swiper-slide img{
  backface-visibility: hidden;
  z-index: 99;
}
.card__face{
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  justify-content: center;
}
.custom-data{
  position: absolute;
  transition: opacity .5s ease 0s;
  z-index: 3;
  bottom: 20px;
  right: 20px; /* imaginea  din spate e rotita deci dadca vreei sa fie un tesxt din spate in stanga tre sa pui right, nu left */
  color: #000;
  text-align: left;
}
.custom-data div{
  transform: scale(-1, 1) /* s[ arate textul bn nu in oglinda */
}