* {
  outline: 1px solid #f00 !important;
}
/* the rule from above helps you when you have horizontal scroll and don t know how to solve it */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Source Sans Pro",sans-serif;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* NAVBAR */
header{
  transition: height .2s linear,padding-top .2s linear;
  background-color: #fff;
}
@media only screen and (min-width: 992px) {
  .navbar-header{
    height: 90px;
    padding-top: 30px;
  }
}
.navbar-header{
  padding-bottom: 0;
}
.navbar-brand{
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-right: 0;
  /* order: 1; */
}
@media (min-width : 992px){
  .navbar-brand{
    width: 240px;
    padding: 0 0 0 20px;
    margin-top: -3px;
  }
}
@media (min-width : 1140px){
  .navbar-brand{
    padding-left: 0px;
  }
}
.navbar-menu-wrapper {
  order: 3;
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid rgba(72,94,144,.16);
  background-color: #fff;
  overflow: hidden;
  z-index: 1060;
  transform: translateX(-300px);
  transition: all .4s;
}
.navbar-nav-show .navbar-menu-wrapper {
  transform: translateX(0);
}
.navbar-nav-show .navbar-menu-wrapper {
  transform: translateX(0);
}
.navbar-menu-header {
  height: 55px;
  padding: 0 15px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(72,94,144,.16);
}
.navbar-menu-header a:last-child {
  color: #7987a1;
}
.navbar-menu-header .feather-x {
  width: 20px;
  height: 20px;
  stroke-width: 2.5px;
}
.navbar-menu {
  flex-direction: column;
  padding: 25px 0;
}
.navbar-menu .nav-link{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1rem;
  /* font-weight: 500; */
  width: 75%;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0;
  color: #001737;
  transition: all .2s ease-in-out;
}
.navbar-menu .nav-item+.nav-item {
  margin-top: 10px;
}
.btn-sm {
  padding: 9px 14px !important;
  font-size: 1rem !important;
}
.logo-long{
  margin-left: 11px;
}
#logo-long {
  margin-left: 11px;
}
.navbar-right{
  padding: 0 15px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* order: 2; */
}
.navbar-header .burger-menu {
  padding-right: 5px;
  margin-right: -15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 18px;
  color: #2c3e50;
  display: flex;
  align-items: center;
}
.navbar-header .burger-menu svg {
  width: 20px;
  height: 20px;
  stroke-width: 2.5px;
}
@media (min-width: 992px){
  .navbar-right{
    order: 3;
    padding: 0 20px 0 0;
  }
}
@media (min-width: 576px){
  .navbar-right{
    padding-right:20px;
  }
}
@media (min-width: 1140px){
  .navbar-right{
  padding-right: 0;
  }
}
.btn-uppercase{
  text-transform: uppercase;
  letter-spacing: 2px;;
}
.btn-login{
  padding: 9px 25px 9px 20px;
  color: #111236;
  /* margin-left: 20px; */
  font-weight: 600; 
  position: relative;
  right:-3px; 
  font-size: 1rem;
}
.btn-login::before{
  content : "";
  position: absolute;
  left    : 0;
  height  : 50%;
  width   : 1px;  
  border-left :1px solid #b2b2bf;
}
.btn-login:hover{
  color: #25bcb5;
}

.top-link{
  /* padding: 9px 0 9px 0 ; */
  display: inline-block;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #111236;
}
.top-link:hover{
  color: #23a6a0;
}

header.scrolled{
  padding-top: 0;
  border-bottom: 1px solid rgba(72,94,144,.16);
}
@media screen and (min-width: 768px){
  .scrolled{
    height: 60px;
  }
}
.scrolled .btn-order-card{
    height: 60px;
    border-radius: 0;
    display: flex;
    align-items: center;
}
.locale-selector{
  width: 26px;
  height: 26px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.locale-selector ul{
  padding-left: 0;
  padding-top: 11px;
  list-style: none;
  /* display: none; */
}
.loc-switcher{
  position: absolute;
  top: 30px;
  left: -98px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 10000;
}
.loc-switcher-item{
  cursor: pointer;
  display: flex;
  min-width: 200px;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Source Sans Pro",sans-serif;
}
/* practic mai jos ca sa obtii sageata aia ai fct un patrat rotit cu 45 de grade */
.loc-switcher-special{ 
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  position: absolute;
  top: -10px;
  left: 100px;
  background-color: #fff;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.round-icon{
  margin-bottom: 10px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

/* ABOUT US */
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  display: inline-flex; 
  justify-content: center;
  align-content: center; 
}
.btn-green {
  background-color: #25bcb5;
  border-color: #25bcb5;
  color: #fff;
  display: inline-flex; 
  justify-content: center;
  align-content: center; 
}
.btn-small{
  padding: 9px 14px;
  font-size: 1rem;
} 

.btn-green:hover {
  background-color: #23a6a0;
  border-color: #23a6a0;
}

/* FOOTER */
footer {
  border-top: 1px solid #f1f2f8;
}
.footer-links a{
  margin: 0 10px;
  color: #111236;
}
@media (max-width: 576px){
  footer .footer-links a {
    display: block;
    width: 100%;
    flex-grow: 1;
    flex-basis: 100%;
  }
}
@media (max-width: 576px){
  footer .footer-links {
      flex-wrap: wrap;
    }
}
footer .svg-message{
  font-size: 20px;
  margin-right: 10px;
}
footer .svg-arrow{
  fill: rgba(60,60,60,.5);
  /* display: inline; */
  /* margin-top: auto;
  margin-bottom: auto; */
  position: absolute;
  right:10px;
  top:50%;
  transform: translateY(-50%);
  transition: all 0.1s;
  /* margin-left: 20px; */
}
.selected-value{
  position: relative;
  appearance: none;
  display: flex;
  padding: 5px 10px;
  background: none;
  border: 1px solid rgba(60,60,60,.26);
  border-radius: 4px;
  white-space: normal;
}
/* cusotm selet in footer */
/* CSS code */
.custom-select {
  /* display: flex; */
  position: relative;
  width: 200px;
  font-size: 16px;
  color: #333;
}

.selected-value {
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

.selected-value i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
}
/* .options-container {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.15);
  border: 1px solid rgba(60,60,60,.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
    width: 250px;
    inset: auto auto 0px 0px;
    position: absolute;
    margin: 0px;
    transform: translate(108px, 99.2188px);
} */
.rotate-svg{
  transform: translateY(-50%) rotate(180deg) !important;
}
.option img{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.options-container {
  position: absolute;
  /* top: 100%; */
  bottom: 100%;
  /* top: calc(100% - 1px); */
  left: 0;
  /* inset: auto; */
  /* width: 100%; */
  width: 250px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  /* transform: translate(100px, 99.2188px); */
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.options-container.active {
  opacity: 1;
  visibility: visible;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.option {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.options-container .option{
  line-height: 1.42857143;
  /* display: block; */
  padding: 3px 20px;
  /* clear: both; */
  color: #333;
  white-space: nowrap;
}
.option:hover {
  background: #5897fb;
  color: #fff;
}
/* finish footer language select */
a{
  text-decoration: none;
}
.social-link {
  color: #2c3e50;
  margin: 0 10px;
}
.copyright{
  background: #f9f9f9;
  font-size: .75rem;
  color: #999;
  padding: 4px 0;
}
.select-language{
  width: 258px;
}
/* LOGIN */
section{
  padding: 60px 0;
}
.content-auth{
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 540px) {
  .content-auth{
    flex-grow: 0;
    flex-basis: auto;
  }
}
.fix-content {
  display: flex;
  width: 100%;
  flex: 1;
  height: 100%;
}
.fix-content>div:first-child{
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media (min-width: 540px){
.fix-content>div:first-child {
  padding-top: 90px;
  }
}
.fix-content>div:first-child>*{
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 540px){
  .fix-content>div:first-child>* {
    flex-grow: 0;
    flex-basis: auto;
  }
}
.media{
  display: flex;
  align-items: flex-start;
}
.form-wrapper {
  max-width: 400px;
  margin-bottom: 60px;
}
.div-wrapper{
  text-align:center;
}
.div-wrapper h2{
    font-weight: 600;
    font-size: 1.6rem;
}
.form-group{
  margin-bottom: 1rem;
}
.btn{
  padding: 10px 18px;
  font-size: 1.1rem;
}
.btn-block{
  display: block;
  width: 100%;
}
a{
  color: #2c3e50;
}
a:hover{
  text-decoration: none;
  color: #25bcb5;
}
/* emboss modal from cardanti */
.el-image-viewer__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.el-image-viewer__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .5;
  background: #000;
}
.el-image-viewer__btn {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: .8;
  box-sizing: border-box;
  user-select: none;
}
.el-image-viewer__close {
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #fff;
  background-color: #606266;
}
.el-image-viewer__actions {
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  width: 282px;
  height: 44px;
  padding: 0 23px;
  background-color: #606266;
  border-color: #fff;
  border-radius: 22px;
}
.el-image-viewer__actions__inner {
  width: 100%;
  height: 100%;
  text-align: justify;
  cursor: default;
  font-size: 23px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* [class*=" el-icon-"], [class^=el-icon-] {
  font-family: element-icons!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* emboss modal */
.modal {
  /* display: none; */
  display: block;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* .modal.show {
  display: block;
} */

.modal-dialog {
  margin: 15% auto;
  width: 80%;
  max-width: 1200px;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.modal-header {
  padding: 10px 20px;
}

.modal-body {
  padding: 20px;
  text-align: center;
}

.modal-footer {
  padding: 10px 20px;
  text-align: center;
}

/* ORDER CARD */
#top{
  padding-top: 0;
}
.fix-content>div:first-child>*{
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 540px){
.fix-content>div:first-child>*{
    flex-grow: 0;
    flex-basis: auto;
  }
}
.order-card-cont{
  padding: 80px 0 50px;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.triggers{
  position: relative;
  z-index: 9;
}
.card-type{
  flex: 0 0 25%!important;
  max-width: 25%!important;
}
@media (max-width: 1160px){
  .card-type{
    margin-top: 20px!important;
    width: 100%!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
  }
  .order-card-cont{
    padding: 0;
    }
}
.trigger{
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 8px;
  cursor: pointer;
  font-weight: 400;
  opacity: .5;
}
.trigger.active{
  opacity: 1;
  border-bottom: 2px solid #25bcb5;
}
.separator{
  height: 100%;
  margin: 0 20px;
}
.main-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px){
  .main-content>div.result{
      /* width: calc(100% - 30px)!important; */
      height: 150px;
  }
  .main-content>div.menu {
    margin-top: 380px;
    padding-top: 20px;
    /* width: calc(100% - 20px)!important; */
    z-index: 3;
    position: relative;
    border-radius: 5px 5px 0 0;
    top: -50px;
  }
  .main-content{
    flex-direction: column;
  }
}
.menu{
  padding-right: 15px;
  padding-left: 15px;
}
/* @media (max-width: 1176px){
  .menu{
    margin-top: 250px;
  }
} */
.customizer-actions{
  position: relative;
  z-index: 9;
  margin-bottom: 10px;
}
.material-color{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 5px;
  border: 1px solid #2c3e50;
}
.material-color.selected{
  border: 2px solid #00a698;
}
.form-group.animated{
  position: relative;
  margin-bottom: 1.2rem;
}
.form-group.animated label{
  background-color: #141e1e;
  position: absolute;
  padding: 0 4px;
  left: 8px;
  top: 7px;
  color: #8f90a0;
  z-index: 1;
  transition: transform .15s ease-out,font-size .15s ease-out
}
label.focused{
  transform: translateY(-90%);
  font-size: .75em;;
}
.form-group.animated .form-control{
  background-color: transparent;
  position: relative;
  width: 100%;
  outline: 0;
  border: 1px solid #cdcdd7;
  box-sizing: border-box;
  border-radius: 4px;
  transition: box-shadow .15s ease-out;
  color: #fff;
}
.name-buttons{
  display: flex;
  align-items: center;
}
.name-button{
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  font-size: 30px;
  padding: 0;
  margin-right: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.logo-list{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-list-item{
  cursor: pointer;
  margin: 10px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-list-item.selected{
  border: 5px solid #00a698;
}
.logo-list-item svg{
  width: 50px;
}
.el-image{
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.el-image__inner{
  /* vertical-align: top; */
  width: 100%;
  height: 100%;
}
.logo-list-text {
  font-weight: 700;
  color: #000;
}
.swatches{
  position: relative;
  display: inline-block;
  outline: none;
}
.price{
  color: #fff;
  font-size: 1.875rem;
  font-weight: 600;
}
.price .currency{
  font-weight: 300;
  font-size: 20px;
}
.color-swatcher-container{
  position: absolute;
  display: block;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.2);
  z-index: 50;
}
@media (max-width: 576px) {
  .color-swatcher-container{
    bottom: 100%;
    right: 100%;
  }
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  width: 300px;
  height: 300px;
  transition: transform 1s ease-in .05s !important;
}
.swiper-slide-active{
  width: 400px;
}
@media (max-width: 550px){
  .swiper-slide-active{
    width: 330px;
    height: 207px;
  }
  
}
/* .show-side{
  transform:rotateX(80deg) !important;
} */

/* asta de sub e pt carousel ul vechi */
/* .swiper-slide-active.flipped{
  transform: rotateY(180deg) !important;
} */
.flip-card-wrapper{
  /* width: 300px; */
  height: 300px;
  transition: transform 1s ease-in .05s !important;
}
/* ASTA DE SUB CU FLIPPED NU E BUNA CA TREBUIE SA PUI DOAR LA ACTIVE NU LA TOATE  */
/* .flipped{
  transform: rotateY(180deg) !important;
} */
.swiper-slide img{
  backface-visibility: hidden;
  display: block;
 } 
.card-logo{
  fill: #fff;
  position: absolute;
  z-index: 9;
  top: 14px;
  left: 14px;
  width: 144px;
  height: 72px;
  backface-visibility: hidden;
}
.card-logo-svg{
  width: 72px;
  height: 72px;
}
.card-img-main {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}
.customizer-card img{
  max-width: 450px;
  margin-bottom: 0!important;
  border-radius: 13px;
}
.card__face{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  backface-visibility: hidden;
}
.card__face img{
  object-fit: cover;
}
.card__face--back{
  transform: rotateY(180deg);  
}
.custom-data{
  position: absolute;
  transition: opacity .5s ease 0s;
  z-index: 3;
  bottom: 20px;
  left: 20px;
  color: #000;
  text-align: left;
  backface-visibility: hidden;
}
.flip-card-back{
  color: #fff;
  transform: translateZ(-4px) rotateY(180deg);
}
.product-title{
  color: #fff;
}
.flip-it{
  position: relative;
  top: -10px;
}
.flip-it-buttons button{
  width: 100px;
}
@media (max-width: 500px){
  .flip-it-buttons{
    margin-top: 40px;
  }
}
/* FLIP IT MODAL */
.flip-it-overlay {
  width: 100%;
  position: absolute;
  cursor: pointer;
  margin: 0;
  z-index: 999;
  /* display: none; */
}
.overlay-tooltip {
  height: 260px;
  display: none;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* width: 400px; */
  /* height: 100%; */
  /* height: 260px; */
  /* top: 12.5%; */
  /* left: 31.3%; */
  z-index: 4;
  background: rgba(0,0,0,.5);
  /* border-radius: 13px; */
}
.swiper-slide-active .overlay-tooltip{
  display: flex;
}
@media (max-width: 576px){
  .overlay-tooltip{
    height: 213px;
  }
}
/* .swiper-slide.swiper-slide-active.image-wrapper ::after{
  color: white;
  content: "RARES";
  position: absolute;
  background-color: green;
  background: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 133;
} */
.overlay-tooltip p{
  text-align: center;
  padding: 0 10%;
}
/* MODAL */
.modal-mask {
  position: fixed;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease;
}
.modal-mask, .modal-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-overlay {
  position: absolute;
  background-color: rgba(0,0,0,.7);
}
.modal-wrapper {
  width: 100%;
  vertical-align: middle;
}
.modal-container {
  position: relative;
  z-index: 99;
  max-height: calc(100vh - 80px);
  overflow: hidden;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,.33);
  transition: all .3s ease;
  font-family: Helvetica,Arial,sans-serif;
}
.close-modal {
  position: absolute;
  cursor: pointer;
  z-index: 9;
  right: 10px;
  top: 6px;
  font-size: 20px;
  color: #999;
}
.modal-body {
  margin-bottom: 20px;
  height: 100%;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}
.upload-modal-content{
  padding: 20px 20px 0;
}
.canvas-cont{
  position: relative;
  min-height: 100px;
  display: flex;
  align-items: center;
}
.canvas-cont .canvas-content{
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas-cont .canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.guidelines p{
  font-size: 12px;
  text-align: left;
}
.card-logo-placeholder {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ORDER CARD PORTRAIT */
.customizer-wrapper {
  position: relative;
}
.customizer-wrapper>.row {
  padding: 0 0 40px;
}
.customizer-row{
  z-index: 11;
  position: relative;
}
.order-card-cont h3{
  padding: 0 15px;
  font-weight: 400;
  font-size: 1.5rem;
}
.card-name>span{
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #8f90a0;
}
.card-name>span::before{
  content: "";
  width: 14px;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #8f90a0;
  left: -25px;
}
.card-name>span::after{
  content: "";
  width: 14px;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #8f90a0;
  right: -25px;
}
.customizer-card{
  position: relative;
  z-index: 999;
  margin-bottom: 80px;
}
.pulse{
  position: absolute;
  height: 1px;
  transition: box-shadow .4s ease-out;
  left: calc(50% - 1px);
  top: calc(50% - 1px);
  width: 1px;
  border-radius: 100px;
  /* animation: pulse-animation 2s infinite; */
    /* la animation mai lucreaza*/
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 0 200px rgba(225, 0, 0, 0.1);
  }
}
.spacer-data{
  display: block;
  width: 25px;
  height: 1px;
  margin: 2px 0;
  border-top: 1px solid hsla(0,0%,100%,.8);
}
.flip-it-portrait {
  position: absolute;
  bottom: -60px;
  left: calc(50% - 40px);
  cursor: pointer;
}
@media (max-width: 576px){
  .flip-it-portrait{
    bottom: -20px;
  }
}
.flip-it-portrait svg{
  transition: all .2s linear;
}
.flip-it-portrait :hover{
  fill: #fff;
}
.image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 4px;
}
@media (max-width: 1280px){
  .image-wrapper{
    margin: 0;
  }
}
.customizer-container{
  width: 100%;
  max-width: 400px;
  height: 252px;
  /* height: 100%; */
  margin: 0 auto;
  position: relative;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transition: transform 1s ease-in .05s;
  transform-style: preserve-3d;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  height: 195px;
  text-align: center;
  transition: transform 1s ease-in .05s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  border-radius: 13px;
}
/* .swiper-slide-active .flip-card-inner::after{ */
  /* background-color: white;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 100%; */
  /* width: 15px; */
  /* height: 2px;
  width: 100%; */
  /* z-index: -10; */
  /* transform:rotateY(-80deg); */
  /* transform: rotateY(90deg); */
  /* transform-origin: 100% 50%; */
/* } */
.show-side .flip-card-inner{
  transform: rotateX(80deg) !important;
}
.swiper-slide-active .flip-card-thick {
  background-color: #a37131;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));
  /* bottom: 0; */
  top: 100%;
  /* left: 130px; */
  left: 0;
  position: absolute;
  /* top: 0px; */
  /* width: 10px; */
  height: 2px;
  width: 100%;
  /* z-index: -10; */
  z-index: 10;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* z-index: 10; */
  /* transform: rotateY(-20deg); */
  /* transform: rotateX(-80deg); */
  /* transform-origin: 100% 50%; */
}
.swiper-slide-active .flip-card-inner{
  height: 259px;
}
.swiper-slide-active .flipped .flip-card-inner{
  transform: rotateY(180deg);
}
@media (max-width: 576px){
  .swiper-slide-active .flip-card-inner{
    height: 207px;
  }
}
.flip-card-back, .flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.flip-card-front{
  color: #000;
}
.flip-card-front * {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-slide-active.show-side  .thickness{
  height: calc(100% + 5px);
  transition: height 1.8s linear;

}
.swiper-slide-active .thickness{
  position: absolute;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  left: 0.5px;
  transform: translateZ(-1px);
  border-radius: 20px;
}
.portrait {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 250px;
  backface-visibility: hidden;
}
.portrait-uploader{
  min-width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
@media (max-width: 576px){
  .portrait-uploader{
    min-width: 180px;
  }
}
.upload-icon {
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}
.load-text {
  position: absolute;
  text-align: center;
  bottom: 0;
}
.card-logo .logo-control {
  width: 20px;
  height: 40px;
  line-height: 40px;
  z-index: 999;
  position: absolute;
}
.card-logo .logo-control.prev {
  left: -12px;
}
.card-logo .logo-control.next{
  top: 0;
  right: -16px;
  left: auto!important;
}
.card-logo .logo-control svg{
  color: #fff;
}
.card-logo-svg-portrait svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.portrait-card__face{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  backface-visibility: hidden;
}
.portrait-card__face--back{
  transform: rotateY(180deg);
}
/* .flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
} */
.flip-portrait{
  transform: rotateY(180deg); 
}
/* BUSINESS */
.container{
  padding-left: 15px;
  padding-right: 15px;
}
.col-12{
  padding-left: 15px;
  padding-right: 15px;
}
ul.list{
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 40px;
  color: #1c273c;
}
ul.list li{
  font-size: 1.12rem;
  line-height: 1.6;
  margin-left: 0;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
}
ul.list li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #25bcb5;
  top: 10px;
}
@media screen  and (min-width: 1200px) {
  .container, .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}
.lighter-gray {
  color: #68697f;
  font-weight: 600;
  font-size: 1.6rem;
}
.card-image{
  width: 100%;
  height: auto;
  align-self: center;
}
@media (min-width: 570px){
  .card-image {
    width: 75%;
    margin: 0 auto;
  }
}
.custom-h1{
  font-size: 2.625rem;
  font-weight: 600;
}
.custom-h2{
  font-weight: 600;
  font-size: 1.6rem;
}
/* HOW IT WORKS  */
.cover h1 {
  font-weight: 600;
  font-size: 2.25rem;
}
.cover h2 {
  font-size: 1.5rem;
  color: #68697f;
}
.cover img{
  width: 100%;
}
.usps .card-container {
  padding: 50px 40px;
  border-radius: 24px;
}
@media (max-width: 540px){
  h1{
    font-size: 2rem;
  }
}
.usps .card-container.crd-bg-white{
  background: #fff;
  border: 1px solid #f1f2f8;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.usps .card-img{
  width: auto;
  height: 200px;
  margin: 0 auto 50px;
}
.usps .card-container h3{
  font-size: 1.5rem;
}
.usps .card-container p {
  font-size: 1.125rem;
  margin-bottom: 0;
  color: #68697f;
}
@media (max-width: 540px){
  .usps .col-12{
    padding: 0 20px!important;
}
}
.video-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.proposals h1{
  margin-bottom: 70px;
  font-size: 2.625rem;
  font-weight: 600;
}
.card-title {
  padding: 40px 40px 0;
  border-bottom: 1px solid #f1f2f8;
  width: 100%;
}
.card-title h2{
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
}
.card-title h2 span{
  color: #00a698;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  z-index: 9;
}
.card-title h2 .cardanti-opt-text{
  text-transform: capitalize;
  line-height: 1;
  display: block;
  color: #1c273c;
  font-size: 1.7rem;
  font-weight: 500;
}
.btn-border {
  background: transparent;
  border: 1px solid #cdcdd7;
  color: #111236;
}
.card-content{
  text-align: center;
  padding: 40px 86px;
}
@media (max-width: 540px){
  .card-content {
    padding: 20px;
}
}
.card-content .card-img{
  position: relative;
  margin-bottom: 38px;
}
.card-content .card-img::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 100px;
  box-shadow: 0 6px 30px rgba(77,87,104,.55);
}
.card-content .card-img img {
  position: relative;
}
.card-content ul {
  color: #111236;
}
.card-content li{
  margin-right: -30px;
}
.card-content button {
  font-weight: 600;
}
/* CONTACT */
.contact-container{
  padding-top: 80px;
}
strong{
  font-weight:500;
}